body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #247BA0;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

section {
    margin-bottom: 40px;
}

#site-name, #site-purpose, #scenarios, #color-schema, #typography, #wireframe {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

#scenarios ul {
    list-style-type: none;
    padding: 0;
}

/* Your existing CSS styles */
#color-schema {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: var(--light-blue);
    color: var(--tan);
}

.color-square {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.dark-blue {
    background-color: var(--dark-blue);
}

.light-blue {
    background-color: var(--light-blue);
}

.cream {
    background-color: var(--cream);
}

.tan {
    background-color: var(--tan);
}

.brown {
    background-color: var(--brown);
}


/* Define custom variables for easier reference */
:root {
    --primary-color: #247BA0;
    --secondary-color: #70C1B3;
    --dark-blue: #4472CA;
    --light-blue: #CFDEE7;
    --cream: #5E7CE2;
    --tan: #92B4F4; 
    --brown: #D0CFCF;
}

/* You can use these custom variables throughout your CSS */


#wireframe .wireframe-images {
    display: flex;
    justify-content: space-between;
}

#wireframe .wireframe-images img {
    max-width: 45%;
}
