:root {
  --primary-color: navy;
  --secondary-color: #fff;
  --error-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #ddd;
}

main {
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  max-width: 500px;
  padding: 20px;
}

h1 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* label {
  color: var(--primary-color);
  font-size: 16px;
  margin-bottom: 5px;
} */

label {
  color: var(--primary-color);
  font-size: 16px;
  margin-bottom: 10px; /* Increase or decrease this value to adjust spacing */
  display: block;
}

/* input, textarea, select {
  padding: 10px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid var(--primary-color);
  font-size: 1.1rem;
} */

input, textarea, select {
  padding: 10px;
  margin-bottom: 15px; /* Increase or decrease this value to adjust spacing */
  border: 0;
  border-bottom: 1px solid var(--primary-color);
  font-size: 1.1rem;
}

button {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #001f4d;
}

.smaller {
  font-size: 11px;
  position: absolute;
  top: -10px;
  right: 10px;
  color: var(--error-color);
}

#rating_value {
  font-size: 1rem;
  color: var(--primary-color);
}

#formmessage {
  visibility: hidden;
  margin: 10px;
  padding: 0.5rem;
  color: var(--error-color);
}

input:invalid {
  background-color: #fff0f3;
  animation: shaketext 500ms;
}

.req::after {
  font-size: 10px;
  content: " *️⃣";
}

@keyframes shaketext {
  25% {
      transform: translateX(3px);
  }
  50% {
      transform: translateX(-3px);
  }
  75% {
      transform: translateX(3px);
  }
}